
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <div align="center">
            <h1>Ana Sayfaya Hoş Geldiniz</h1>
            <br />
            <a href="../Security/Logout"> Oturumu Kapat</a>
        </div>
    </div>
</body>
</html>
